**/__pycache__/
**/*.pyc
NavSide/cpp_trt/build/
PhybotSoftware_c2/**/build/
PhybotSoftware_c2/**/logs/
NavSide/**/*.log
**/.pytest_cache/
**/.mypy_cache/
**/.venv/
**/venv/
**/build/
**/Build/
**/CMakeFiles/
**/*.log
**/*.tmp
**/*.swp
